
.d01{
  width: 100px;
  height: 100px;
  background: skyblue;
  border: 3px solid black;
  /* transition-property: all; 속성 선택 */
  /* transition-duration: 2s; 진행 시간 */
  /* transition-timing-function: ease-in; 지랜지션 속도효과 */
  /* transition-delay: 1s; 지연 시간 */
  transition: all 2s ease-in;
}
.d01:hover{
  width: 200px;
  height: 200px;
  background: yellow;
  border-radius: 50%;
}