div{
  width: 100px;
  height: 100px;
  background: skyblue;
  border: 2px solid black;
  animation-name: chg-back;
  animation-duration: 3s;
  /* normal, alternate */
  animation-direction: alternate;
  /* animation-iteration-count: 반복회수 infinite */
  animation-iteration-count: infinite;
  animation: chg-back 1s infinite alternate, rotate 2s infinite alternate;
}

@keyframes rotate{
  from{
    transform: perspective(120px) rotateX(0deg);
  }
  to{
    transform: perspective(120px) rotateX(180deg);
  }
}

@keyframes chg-back{
  from{
    background: skyblue;
    border: 2px solid black;
  }
  to{
    background: blue;
    border: 3px solid red;
    border-radius: 50%;
  }
}